{% extends "base.html" %}

{% block title %}
    Ile za ksero? - Kalkulator kosztów ksero
{% endblock %}

{% block body %}
    <div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h1>Ile za ksero?</h1>
                    </div>
                    <div class="card-text">
                        <p>Masz do skserowania książkę? Sprawdź ile będzie Cię to kosztować.</p>
                        <p>Chcesz sprzedać niepotrzebne już kserówki? Ułatw sobie wycenę.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" id="calculator">
                <div class="card-body">
                    <div class="card-title">
                        <h1>KALKULATOR KOSZTÓW KSERA</h1>
                        <h2>Wybierz rodzaj kalkulatora</h2>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title" id="simple-calc" onclick="showForm(this.id)">
                                <div class="btn btn-default btn-lg btn-block">Znam ilość stron lub kartek w ksero</div>
                            </div>
                            <div id="simple-calc-body" class="form-area" style="display: none">
                                                                                    <div class="card">
                        <div class="card-body">
                                {% include 'elements/simple-xero-form.html' %}
                        </div>
                                                                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title" id="book-calc" onclick="showForm(this.id)">
                                <div class="btn btn-default btn-lg btn-block">Znam ilość stron w oryginalnej książce</div>
                            </div>
                            <div id="book-calc-body" class="form-area" style="display: none">
                                                    <div class="card">
                        <div class="card-body">
                                {% include 'elements/book-xero-form.html' %}
                        </div>
                                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title" id="weight-calc" onclick="showForm(this.id)">
                                <div class="btn btn-default btn-lg btn-block">Mogę zważyć kserówkę</div>
                            </div>
                            <div id="weight-calc-body" class="form-area" style="display: none">
                                                                                    <div class="card">
                        <div class="card-body">
                                {% include 'elements/weight-xero-form.html' %}
                        </div>
                                                                                    </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                </div>
            </div>

            <div class="row" id="calculation-resume">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <h2>Podsumowanie bieżącej kalkulacji <a class="btn btn-outline-red" href="{% url 'new_calculation' %}">Nowa kalkulacja</a></h2>
                            </div>

                            <div class="card-text">
                                {% if xero_cost.id %}
                                {% include 'elements/xero-summary.html' %}
                                <a class="btn btn-red" href="/add">Dodaj do listy</a>
                                <a class="btn btn-grey" href="{% url 'cost_edit' xero_cost.id %}">Zmień</a>
                                <a class="btn btn-grey" href="{% url 'cost_reset' %}">Zresetuj</a>
                                    {% else %}
                                    brak kalkulacji
                                {% endif %}


                            </div>
                        </div>
                        <div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
    <div class="col">
        <div class="card" id="xerolist">
            <div class="card-body">
                <div class="card-title">
                    <h2>Lista kser</h2>
                </div>

                <div class="card-text">
                    {% if xero_list.get_all_xero_calcs %}
                    <a href="reset">Zresetuj</a>
                    <a href="/xerolists/{{ xero_list.id }}">Szczegóły</a>
                    {% include 'elements/xero-list-table.html' %}
                        {% else %}
                        Lista jest pusta
{% endif %}
                </div>
            </div>

        </div>
    </div>
    </div>

    </div>
    <script>
        function showPagesInput(form, inputName) {
            var input = form[inputName];
            var label = input.labels[0];
            input.removeAttribute('hidden');
            label.removeAttribute('hidden');
            var inputToHide = inputName == "onesided-in-mixtwosided" ? form['twosided-in-mixonesided'] : form['onesided-in-mixtwosided'];
            inputToHide.setAttribute("hidden", true);
            inputToHide.labels[0].setAttribute("hidden", true);
        }

        function hidePagesInputs(form) {
            var oneSided = form['twosided-in-mixonesided'];
            oneSided.setAttribute("hidden", true);
            oneSided.labels[0].setAttribute("hidden", true);
            oneSided.value = 0;
            var twoSided = form['onesided-in-mixtwosided'];
            twoSided.setAttribute("hidden", true);
            twoSided.labels[0].setAttribute("hidden", true);
            twoSided.value = 0;
        }

        function showForm(id) {
            formDivs = document.getElementsByClassName("form-area");
            for (var i = 0; i < formDivs.length; i++) {
                formDivs[i].style.display = formDivs[i].id == id + "-body" ? 'block' : 'none';
            }


        }
    </script>
{% endblock %}
