{% extends "base.html" %}
{% load mathfilters %}

{% block title %}
    List kser - {{ xero_list.name }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h1>Lista kser</h1>
                    </div>

                <div class="card-text">
                    <a href="{{ xero_list.id }}/delete">Usuń</a>
                    {% include 'elements/xero-list-table.html' %}

                </div>
            </div>

        </div>
    </div>
    </div>
{% endblock %}