<!--Footer-->
<footer class="page-footer default-color center-on-small-only">

    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="title">Ile za ksero?</h5>
                  </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <h5 class="title">Linki</h5>
                <ul>
                    <li><a href="/">Strona główna</a></li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: <a href="{% url 'calculator' %}"> ilezaksero.pl </a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->