<form action="/calculate-book/" method="post">
    {% csrf_token %}
    {% include 'elements/name-input.html' %}
    <input type="number" hidden value="{{ xero_cost.id }}" name="costid">
    <hr>
    <div>
        <p>Ilość stron w książce</p>

        <div class="md-form">

            <input type="number" name="book_pages_arabic"
                   class="form-control"
                   value="


                        {% if xero_cost.book_pages_arabic %}{{ xero_cost.book_pages_arabic }}{% else %}0{% endif %}" required>
            <label for="book_pages_arabic">numeracja arabska (podstawowa)</label>

        </div>

        <div class="md-form">

            <input type="number" name="book_pages_roman" class="form-control"
                   value="


                        {% if xero_cost.book_pages_roman %}{{ xero_cost.book_pages_roman }}{% else %}0{% endif %}">
            <label for="book_pages_roman">numeracja rzymska (na początku)
            </label>
        </div>
    </div>
    <hr>
    {% include 'elements/sides-choice-input.html' %}
    {% include 'elements/xero-bind-price-input.html' %}


    {% include 'elements/submit-button.html' %}

</form>