        <div class="row">
            <div class="col-md-5">
                <div class="btn btn-outline-primary">

                    <input type="radio" name="sides" value="mixonesided"
                           onchange="showPagesInput(this.form, 'twosided-in-mixonesided')"
                           {% if xero_cost.is_mix_with_one_sided_advantage %}checked{% endif %}> Przewaga 1-stronnych
                </div>
            </div>
            <div class="col-md-5">
 <div class="md-form">
                <input type="number" id="twosided-in-mixonesided" name="twosided-in-mixonesided" class="form-control"
                       {% if not xero_cost.is_mix_with_one_sided_advantage %}hidden{% endif %}
                       value="{{ xero_cost.two_sided_pages_in_mix }}">
            <label for="twosided-in-mixonesided" {% if not xero_cost.is_mix_with_one_sided_advantage %}hidden{% endif %}>Podaj ilość kser 2-stronnych</label>
 </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="btn btn-outline-primary">
                    <input type="radio" name="sides" value="mixtwosided"
                           onchange="showPagesInput(this.form, 'onesided-in-mixtwosided')"
                           {% if xero_cost.is_mix_with_two_sided_advantage %}checked{% endif %}> Przewaga 2-stronnych
                </div>
            </div>
            <div class="col-md-5">
            <div class="md-form">

                <input type="number" id="onesided-in-mixtwosided" name="onesided-in-mixtwosided" class="form-control"
                       {% if not xero_cost.is_mix_with_two_sided_advantage %}hidden{% endif %}
                       value="{{ xero_cost.one_sided_pages_in_mix }}">
            <label for="onesided-in-mixtwosided"  {% if not xero_cost.is_mix_with_two_sided_advantage %}hidden{% endif %}>Podaj ilość kser 1-stronnych</label>
            </div>
            </div>
        </div>