<form action="/calc/by-weight/" method="post">
    {% csrf_token %}
    {% include 'elements/name-input.html' %}
    <div>
        <label for="weight">Waga w gramach
            <input type="number" name="weight" class="input-alternate"
                   placeholder="Waga w gramach"
                   value="{{ xero_cost.weight }}">
        </label>
    </div>
    <div>
        <label for="is-bind">Zbindowane?
            <input type="checkbox" name="is-bind" value="true" {% if xero_cost.is_bind %}
                   checked {% endif %}>
        </label>
    </div>
    {% include 'elements/sides-choice-input.html' %}
    {% include 'elements/xero-bind-price-input.html' %}
    {% include 'elements/submit-button.html' %}
</form>