<table class="table">
    <tr>
        <th>Nazwa</th>
        <td>{{ xero_cost.name }}</td>
    </tr>
    <tr>
        <th>Ilość stron ksera</th>
        <td>{{ xero_cost.number_of_pages }}</td>
    </tr>
    <tr>
        <th>Ilość kartek</th>
        <td>{{ xero_cost.number_of_cards }}</td>
    </tr>
    <tr>
        <th>Cena z 1 stronę ksera</th>
        <td>{{ xero_cost.cost_per_page_in_grosz }} gr</td>
    </tr>
    <tr>
        <th>Kwota bez bindu</th>
        <td>{{ xero_cost.calc_xero_cost_without_bind }} zł</td>
    </tr>
    <tr>
        <th>Kwota z bindem</th>
        <td>{{ xero_cost.calc_xero_cost_with_bind }} zł</td>
    </tr>
    <tr>
        <th>Cena bindu</th>
        <td>Wybrana: {{ xero_cost.bind_cost }} zł<br> Sugerowana wg ilości kartek: {{ xero_cost.suggested_bind_cost }} zł</td>
    </tr>
</table>