<table class="table table-hover">
<thead class="blue-grey lighten-4">
    <tr>
        <th>Nazwa</th>
        <th>Ilość stron</th>
        <th>Cena za stronę ksera</th>
        <th>Koszt bindu</th>
        <th>Cena 1 kopii bez bindu</th>
        <th>Cena 1 kopii z bindem</th>
        <th>Ilość kopii</th>
        <th>Cały koszt z bindem</th>
        <th>Akcje</th>
    </tr>
    </thead>
    {% for xero in xero_list.get_all_xero_calcs %}
        <tr>
            <td><a href="costs/{{ xero.id }}">{{ xero.name }}</a></td>
            <td>{{ xero.number_of_pages }}</td>
            <td>{{ xero.cost_per_page_in_grosz }} gr</td>
            <td>{{ xero.bind_cost }} zł</td>
            <td>{{ xero.calc_xero_cost_without_bind }} zł</td>
            <td><b>{{ xero.calc_xero_cost_with_bind }} zł</b></td>
                    <td>{{ xero.quantity }}</td>
            <td><b>{{ xero.price_for_all_items }} zł</b></td>
            <td>
                <a href="/costs/{{ xero.id }}"><i class="material-icon"></i>szczegóły</a>
                <a href="/costs/{{ xero.id }}/edit"><i class="material-icon"></i>zmień</a>
                <a href="/costs/{{ xero.id }}/delete"><i class="material-icon"></i>usuń</a>
            </td>
        </tr>
    {% endfor %}
    <tr class="table-danger">
        <td>Razem:</td>
        <td>{{ xero_list.get_all_xero_pages }}</td>
        <td><br></td>
        <td>{{ xero_list.get_all_bind_cost }} zł</td>
        <td>{{ xero_list.get_all_cost_without_bind }} zł</td>
        <td><b>{{ xero_list.get_all_cost_with_bind }} zł</b></td>
        <td>{{ xero_list.get_all_quantity }} </td>
        <td><b>{{ xero_list.get_all_price_for_all_items }} zł</b></td>

        <td><br></td>
    </tr>

</table>