{% extends "base.html" %}
{% load mathfilters %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>Książki</h1>
                <table class="table-hover" style="width: 100%">
                    {% for book in books %}
                        <tr>
                            <td>{{ book.book.title }}</td>
                            <td>
                                {% for author in book.book.author_set.all %}
                                    {{ author.author.firstname }} {% if author.author.secondname %} {{ author.author.secondname }} {% endif %}{{ author.author.surname }}<br>
                                {% endfor %}
                            </td>
                            <td>Wydanie {{ book.book.edition.number }}.<br>
                            ({{ book.book.edition.year }})</td>
                        <td>{{ book.book.publisher.full_name }}<br>
                        ({{ book.book.publisher.short_name }})</td>

                        <td>
                            {{ book.book.number_of_pages }}
                        </td>
                        <td>
                            {{ book.xero_pages }}<br>
                            {{ book.xero_cards }}
                        </td>
                        <td>
                            {{ book.xero_pages|mul:0.07 }} zł <br>

                        </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
