{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>Książki</h1>
                <table class="table-hover">
                    {% for book in books %}
                        <tr>
                            <td>{{ book.book.title }}</td>
                            <td>
                                {% for author in book.book.author_set.all %}
                                    {{ author.author.firstname }} {% if author.author.secondname %} {{ author.author.secondname }} {% endif %}{{ author.author.surname }}<br>
                                {% endfor %}
                            </td>
                            <td>{{ book.book.edition.number }}<br>
                            {{ book.book.edition.year }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
