<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.css" type="text/css">
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/mdb.css" %}" type="text/css">
    <title>{% block title %}
            {% endblock %}
    </title>
</head>
<body>
<div class="container">
<header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-default">
        <a class="navbar-brand" href="#"><strong>Navbar</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Opinions</a>
                </li>
            </ul>
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
        </div>
    </nav>

</header>
<main>
{% block body %}
{% endblock %}
</main>
</div>
    <script type="text/javascript" src="{% static "js/jquery-3.1.1.min.js"%}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{% static "js/popper.min.js"%}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static "js/bootstrap.min.js"%}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static "js/mdb.min.js"%}"></script>
</body>